body {
  display: auto;
  background-color: rgb(223, 210, 194);
  border: 10px solid rgb(255, 204, 0);
}

#header-img {
  float: left;
  border: 2px solid rgb(8, 59, 102);
  border-radius: 15%;
  margin-top: -24px;
  margin-left: -22px;
}

#header {
  font-size: 55px;
  box-shadow: 5px 5px 5px 5px rgb(8, 59, 102);
  margin: 15px;
  padding: 30px;
}

.nav {
  float: right;
  margin-top: -45px;
}

.accordion {
  background-color: rgb(223, 210, 194);
  color: rgb(8, 59, 102);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border: 2px solid rgb(8, 59, 102);
  border-radius: 25px;
  font-family: "Literata", serif;
}

.accordion:after {
  font-size: 13px;
  color: rgb(8, 59, 102);
  float: right;
  margin-left: 5px;
}
#accordion1 {
  margin-bottom: 20px;
}

.panel {
  padding: 0 18px;
  background-color: rgb(223, 210, 194);
  display: none;
  overflow: hidden;
}

.active,
.accordion:hover {
  background-color: rgb(255, 204, 0);
}

.btn {
  margin-left: 10px;
  border: 2px solid rgb(8, 59, 102);
  border-radius: 25px;
  color: rgb(8, 59, 102);
  background-color: rgb(255, 204, 0);
  font-size: 17px;
}
#accordion2 {
  margin-bottom: 15px;
}

h1 {
  color: rgb(8, 59, 102);
  font-family: "Literata", serif;
  text-align: center;
}

h2 {
  color: rgb(8, 59, 102);
  font-family: "Literata", serif;
  margin-bottom: 40px;
}

p {
  font-family: "Raleway", sans-serif;
}

#content-section1 {
  margin: 3px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid rgb(8, 59, 102);
  border-radius: 25px;
  padding: 10px;
}

#content-section2 {
  margin: 3px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid rgb(8, 59, 102);
  border-radius: 25px;
  padding: 10px;
}

#content-section3 {
  margin: 3px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid rgb(8, 59, 102);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
}
#content-section4 {
  margin: 3px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid rgb(8, 59, 102);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
}
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: max-content;
  position: relative;
  margin: auto;
}

/* Hide the images by default*/
.mySlides {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(8, 59, 102);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgb(255, 204, 0);
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlidesbox {
  display: none;
}

/* Next & previous buttons */
.prevarrow,
.nextarrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(255, 204, 0);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.nextarrow {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prevarrow:hover,
.nextarrow:hover {
  background-color: rgb(255, 204, 0);
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#carousel-section{
  margin-top: 30px;
  margin-bottom: 30px;
}
#modal-section{
  margin-top: 30px;
  margin-bottom: 30px;
}
#accordion3{
  margin-bottom: 20px;
}
#accordion4{
  margin-bottom: 20px;
}
#accordion5{
  margin-bottom: 20px;
}
#lightbox-section{
  margin-top: 30px;
  margin-bottom: 30px;
}